:root {
  --silfenBlue: #7bafd4;
  --silfenplayYellow: #edff00;
  --silfenplayGreen: #aed5b2;
  --primaryFont: "Roboto", sans-serif;
  --secondaryFont: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  padding-top: 150px;
}
section {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 360px;
  min-height: 40vh;
  /* background-color: lawngreen; */
}

.cart-shipping button {
  border: none;
  font-size: 1.2rem;
  width: 35px;
  color: white;
  background-color: var(--silfenBlue);
}

.plus-minus input {
  border: none;
}

section + section {
  margin-top: 2rem;
}

.cartStep1wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.breadCrombs {
  width: 100%;
  padding: 2rem 0;
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.cart-shipping {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.shipping,
.cart-page {
  width: 50%;
  min-width: 350px;
}

.cart-item-page {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  font-family: var(--primaryFont);
  gap: 1rem;
  align-items: center;
}

.cart-item-page + .cart-item-page {
  margin-top: 1.5rem;
}

.productCartImg {
  width: 25%;
  align-self: flex-end;
  box-shadow: 0 0 10px 0 lightgray;
}

.infoProductCart {
  width: 200px;
}

.cart-item-page label {
  font-weight: bold;
  font-size: 1.3rem;
}
.closeWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.deletItem {
  pointer-events: auto;
  cursor: pointer;
}

.shipping {
  font-family: var(--secondaryFont);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shipping h3 span {
  color: gray;
  font-weight: normal;
}

.shipping button {
  margin-top: 4rem;
  margin-right: 15%;
  width: auto;
  padding: 1rem 2.2rem;
}

:is(.minus, .plus, .proceedCheckout):hover {
  background-color: gray;
}

.subtotal {
  width: 100%;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding-right: 15%;
}
.form-shipping {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-shipping label {
  display: flex;
  flex-direction: column;
}
.form-shipping label div {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  align-items: center;
}
.form-shipping p {
  font-size: 90%;
}

.total {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding-right: 15%;
}

.bold {
  font-weight: bolder;
}

.form-personalData {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}
.form-personalData label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--primaryFont);
  color: rgb(124, 124, 124);
  height: inherit;
}
.form-personalData input {
  padding: 0.5rem 1rem;
  border: solid 1px var(--silfenBlue);
  border-radius: 5px;
  font-size: 1.5rem;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-personalData button {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
