@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:ital,wght@0,900;1,900&display=swap");

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15em;
  margin-top: 3em;
}

/*girl with flower*/
.hero1 {
  position: absolute;
  top: 12vw;
  left: 0px;
  z-index: -2;
}

/*palmtree*/
.hero2 {
  position: absolute;
  top: 5%;
  left: 10vw;
  z-index: -2;
}

/*girl profile with bag*/
.hero3 {
  position: absolute;
  top: 20vw;
  right: 0;
  z-index: -2;
}

/*lying down with bag*/
.hero4 {
  position: absolute;
  right: 15vw;
  z-index: -2;
  top: 1vw;
}

/*water*/
.hero5 {
  position: absolute;
  top: 35vw;
  right: 17vw;
  z-index: -2;
}

.hero_img {
  max-width: 300px;
}

.hero_text {
  color: var(--silfenBlue);
  /* margin-left: 20vw; */
  /* margin-right: 20vw; */
  /* padding: 15vw; */
  width: 50%;
  text-align: center;
}

.hero_text h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--primaryFont), sans-serif;
}

p {
  font-size: 1rem;
  font-family: var(--secondaryFont);
}
.value_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
  margin-top: 4em;
  flex-wrap: wrap;
  width: 100%;
}
.home_values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
  /* margin: 4vw 0;
 */
}

.home_values div {
  margin: 3em 1.5em;
  width: 20%;
  text-align: center;
  line-height: 2;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 2em; */
}

h3 {
  font-family: "Roboto";
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

.home_values img {
  max-width: 50%;
  max-height: 80px;
}

button {
  background-color: #7bafd4;
  border: lightblue;
  border-radius: 2px;
  padding: 1.5em 2em;
  color: white;
}

.button_play {
  background-color: #aed582;
}

/* .play_wrapper {
  margin-top: 10vw;
  background-color: #eeff0036;
  position: relative;
  z-index: -1;
  height: 80vh;
  width: 100%;
  margin-bottom: 8%;
} */

.mainWrapper {
  padding: 2vw 10vw 4vw;
}

.sp_main {
  background: rgba(237, 255, 0, 0.2);
}

.sp_main .img1 {
  width: 40%;
  margin-top: -40px;
}
.sp_main .img2 {
  width: 30%;
  margin-left: -50px;
  margin-top: -190px;
}

.sp_main .img3 {
  width: 40%;
  margin-top: -30px;
  margin-right: -70px;
  margin-bottom: 2em;
}

.mainWrapper {
  padding: 2vw 10vw 4vw;
}

.imgs {
  padding: 10vw 10vw 0vw 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0 10vw;
}

.info h1 {
  font-family: var(--primaryFont);
  font-size: 2.5em;
}

.info p {
  font-family: var(--secondaryFont);
  width: 40%;
  margin: 1vw 0 3vw 3vw;
  line-height: 2;
}

.info .link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #aed582;
  color: white;
  border-radius: 4px;
  font-family: var(--primaryFont);
  margin-left: 3vw;
}

.bestseller_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bestseller_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4em;
}

.bestseller_row1 {
  display: flex;
  flex-direction: column;
}

.bestseller_row1 img {
  max-width: 250px;
  max-height: auto;
  margin: 1.5vw;
}

.bestseller_row2 {
  display: flex;
  flex-direction: column;
  max-width: 40ch;
  align-items: center;
  justify-content: center;
}

.bestseller_row2 img {
  max-width: 300px;
  max-height: 350px;
  margin: 4vw 1.5vw;
}

.bestseller_text {
  max-width: 30ch;
  text-align: center;
  margin: 10em 0;
}

.bestseller_text h2 {
  text-align: center;
  margin-bottom: 0.6em;
}
.bestseller_text p {
  margin-bottom: 3em;
  line-height: 2;
}

.bestseller_row3 {
  display: flex;
  flex-direction: column;
}

.bestseller_row3 img {
  max-width: 300px;
  max-height: 350px;
  margin: 1.5vw;
}

.story_wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #c0def5;
  position: relative;
  padding: 5em 0;
}

.story_wrapper img {
  max-width: 400px;
  height: auto;
}

.story_text {
  margin-right: 4em;
  max-width: 45ch;
  color: #7bafd4;
  line-height: 2;
}

.story_text h2 {
  margin: 0.5em 0;
}

.story_text p {
  margin: 2em 0;
}

.story_flower img {
  margin-right: -50px;
  margin-bottom: 100px;
}

.focus_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10vw;
  justify-content: space-evenly;
}

.arrivals_home img {
  max-width: 400px;
}

.sale_home img {
  max-width: 400px;
  height: 505px;
}

.arrivals_home h2,
.sale_home h2 {
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}

.social_text {
  display: block;
  text-align: center;
  margin-left: 0;
}

.igfeed {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.igfeed img {
  max-width: 250px;
  height: auto;
  margin: 1.5vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1.5em 2em;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .sp_main .info p {
    width: 60%;
    margin: 1em 0;
  }

  .story_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .story_text {
    text-align: center;
  }

  .story_flower {
    margin-top: -100px;
    margin-left: 100px;
  }

  .focus_container {
    align-items: center;
  }

  .arrivals_home {
    margin-bottom: 3em;
  }

  .hero5 {
    display: none;
  }
  .hero1 {
    position: initial;
  }
  .hero_wrapper {
    flex-direction: column;
    justify-content: left;
    padding: 0;
    text-align: center;
  }

  .hero_text h1 {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .hero_wrapper {
    padding: 0;
  }
  .hero2,
  .hero4 {
    display: none;
  }
  .hero_text {
    width: 90%;
    margin: 0 3em;
  }

  .home_values div {
    width: 30%;
  }
  .sp_main .imgs {
    flex-direction: column;
  }
  .sp_main .img1 {
    width: 70%;
  }
  .sp_main .img2 {
    width: 70%;
    margin-top: -100px;
    margin-left: -125px;
    margin-bottom: 3em;
  }
  .sp_main .img3 {
    content-visibility: hidden;
  }

  .mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3em 0;
  }
  .bestseller_text {
    max-width: 100%;
  }
  .sp_main .info p {
    width: 100%;
    margin: 1vw 0;
  }

  .sp_forth .info p {
    width: 100%;
  }

  .story_text {
    margin-top: -2em;
    margin-right: 0;
  }

  .igfeed img {
    width: 20%;
  }
}

/*Pop Up Window*/

#blackout {
  background: #aed5b288;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#blackout input {
  margin-bottom: 1em;
}
#box {
  width: 500px;
  height: 375px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #7bafd4;
}

#blackout:target {
  display: block;
}

.subscribebutton {
  background: #aed582;
  color: white;
  border: none;
  border-radius: 2px;
  width: 150px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 5%;
}

.close {
  display: block;
  float: right;
  border: none;
  border-radius: 5px;
  color: darkgray;
  padding: 0 6px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 10pt;
  cursor: pointer;
}
.close:hover {
  background: darkgray;
  color: white;
}
