@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

:root {
  --silfenBlue: #7bafd4;
  --silfenplayYellow: #edff00;
  --silfenplayGreen: #aed5b2;
  --primaryFont: "Roboto", sans-serif;
  --secondaryFont: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /* overflow: hidden; */
  box-shadow: 0 0 2px grey;

  background-color: white;
  z-index: 100;
  border-bottom: solid 1px #e6e6e6;
}

.hidden {
  display: none !important;
}

/*--------star banner-----*/

div.banner {
  font-family: var(--primaryFont);
  color: white;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 5px 0;
  overflow: hidden;
}

.banner a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

ul.banner {
  width: 100%;
  height: 100%;
  position: relative;
  list-style: none;
  font-size: 1.2rem;
}

ul.banner:hover li {
  animation-play-state: paused;
}

ul.banner li {
  position: absolute;
  left: 102vw;
  width: max-content;
  animation-name: horizontalMove;
  animation-duration: 27s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

ul.banner li:nth-child(2) {
  animation-delay: 9s;
}
ul.banner li:nth-child(3) {
  animation-delay: 16s;
}

@keyframes horizontalMove {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-120vw);
  }
}

/*---------end banner-----------*/

/*------- navigation ------------*/
.navwrapper {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
}

.navwrapper nav {
  width: 60%;
  padding-right: 20px;
}

ul.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_hover_list {
}

.navigation ul {
  display: none;
}

nav div:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 20px;
  gap: 10px;
  margin-left: -30px;
  font-family: var(--secondaryFont);
}

.shop_hover_list li:hover {
  text-decoration: underline;
}

ul.navigation li {
  list-style: none;
  display: inline-block;
  width: fit-content;
}

ul.navigation a {
  text-decoration-line: none;
  font-family: var(--primaryFont);
  color: black;
  font-size: 110%;
}

ul.navigation .activeLink {
  font-weight: 700;
}

ul.navigation .silfenPlayLink a {
  color: var(--silfenplayGreen);
  font-weight: 500;
}
.search-cart {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-cart img {
  height: 30px;
  width: auto;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header .menu-btn {
  display: none;
}

/*------- end navigation ------------*/

.silfenplay {
  background-color: var(--silfenplayGreen);
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

.silfen {
  background-color: var(--silfenBlue);
}

/* MEDIA QUERIES FOR HEADER
@media (max-width: 1300px) {
  ul.navigation {
    width: 60%; 
  }
} */

@media (min-width: 1000px) {
  .navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }

  header .navigation {
    clear: none;
    float: right;
    max-height: none;
  }

  header .menu-icon {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* header .navigation {
    display: none;
  } */

  div.banner {
    display: none;
  }

  .logo {
    margin: auto;
  }

  ul.navigation {
    display: none;
  }

  header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
  }

  header .menu-icon .nav-icon {
    background: #00425c;
    display: block;
    height: 1.5px;
    width: 30px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  header .menu-icon .nav-icon:before {
    background: #00425c;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 9px;
    transition: all 0.2s ease-out;
  }

  header .menu-icon .nav-icon:after {
    background: #00425c;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -9px;
    transition: all 0.2s ease-out;
  }

  header .menu-btn:checked ~ nav .navigation {
    max-height: 240px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    top: 80px;
    left: 50px;
    padding: 20px;
    background-color: white;
    gap: 20px;
    width: 80%;
  }

  header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
}

/*--------- footer ------------*/

footer {
  display: flex;
  background-color: #ececec;
  width: 100%;
  font-family: var(--primaryFont);
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

.footerWrapper {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #717171;
  text-transform: initial;
}

.footer_submit a {
  color: #717171;
}
.newsletter input {
  margin: 1em 0;
}

.newsletter button {
  padding: 0.4em 1em;
}
footer nav {
  color: #717171;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  margin-top: 2em;
  justify-content: space-around;
  border-top: #999999 solid 1px;
  border-bottom: #999999 solid 1px;
  padding: 30px;
}

footer ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

footer h4 {
  font-size: 1.2rem;
}

.footer_logo {
  width: 200px;
  margin-bottom: 2em;
  fill: white;
}

footer p {
  text-align: center;
  margin: auto;
  margin-top: 1em;
  display: inline;
  color: #999999;
}

.footer_social_media {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 2em;
  justify-content: space-around;
}

footer img {
  width: 50px;
}

/* @media screen and (max-width: 850px) {
  div.banner {
    all: unset;
    display: none;
  }
  header nav {
    all: unset;
    display: none;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer ul {
    text-align: center;
  }

  .newsletter {
    margin: 4em 0;
    text-align: center;
  }
} */
