ul.navigation .silfenPlayLink a {
  color: var(--silfenplayGreen);
  font-weight: 500;
}

main {
  margin-top: 50px;
}

h2 {
  font-family: var(--primaryFont);
  font-size: 3rem;
  margin-top: 3em;
}
h3 {
  font-family: var(--primaryFont);
  font-size: 1.8rem;
}

h4 {
  font-family: var(--primaryFont);
}

p {
  font-family: var(--secondaryFont);
  line-height: 2;
  margin-top: 2em;
  text-align: center;
}

.intro {
  margin: auto;
  max-width: 600px;
}

.intro_h2 {
  text-align: center;
}

.principles {
  margin: 100px;
  margin-top: 150px;
}

.principles_h3 {
  margin-left: 150px;
}

.principles_svg {
  margin: auto;
  margin-top: 50px;
  max-width: 100%;
}

.value_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
  margin-top: 4em;
  flex-wrap: wrap;
  width: 100%;
  display: none;
}
.home_values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
  /* margin: 4vw 0;
 */
}

.home_values div {
  margin: 3em 1.5em;
  width: 20%;
  text-align: center;
  line-height: 2;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 2em; */
}

h3 {
  font-family: "Roboto";
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

.home_values img {
  max-width: 50%;
  max-height: 80px;
}

.recycled_h2 {
  margin-left: 200px;
}
.recycled_bags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recycled_bags div {
  display: flex;
  width: 20%;
  margin: 2em 1em;
  flex-direction: column;
}

.recycled {
  box-shadow: grey 0px 0px 4px 0px;
  padding: 30px;
}

.recycled_collection {
  margin-top: 14em;
  padding-bottom: 5em;
}
.recycled_collection .recycled_h2 {
  font-size: 2.5em;
}

.recycled_img {
  max-width: 95%;
}

.recycled_name {
  font-weight: bolder;
  font-size: 1.2em;
}

.recycled_text {
  text-align: left;
  width: 35%;
  margin: 1vw 0 3vw 15vw;
}

.recycled_price {
  margin-top: 0em;
}

button {
  background-color: #7bafd4;
  border: lightblue;
  border-radius: 2px;
  padding: 1.5em 2em;
  color: white;
}
.recycled_button {
  display: block;
  margin: auto;
  margin-top: 40px;
  background-color: var(--silfenBlue);
  border: 2px solid outset;
  border-color: var(--silfenBlue);
}

.recycled_button a {
  color: white;
  font-family: var(--primaryFont);
  font-size: 1.3rem;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .recycled_h2 {
    text-align: center;
    margin: 0;
  }

  .recycled_text {
    text-align: center;
    margin-left: 0;
    width: 50%;
    margin-top: 1.5em;
  }

  .recycled_collection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .recycled_bags {
    flex-direction: column;
    align-items: center;
  }
  .recycled_bags div {
    width: 40%;
    margin: 2em 0;
  }
  .value_wrapper {
    display: flex;
  }
  .principles_svg {
    display: none;
  }
  .principles_h3 {
    display: none;
  }

  .home_values div {
    width: 30%;
  }
  .value_wrapper h2 {
    margin-top: 0;
  }
}
