@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:ital,wght@0,900;1,900&display=swap");

.hero_wrapper {
  margin-top: 200px;
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  margin-bottom: 200px;
}

/*girl with flower*/
.hero1 {
  position: absolute;
  top: 40%;
  left: 0px;
  z-index: -2;
}

/*palmtree*/
.hero2 {
  position: absolute;
  top: 5%;
  left: 10vw;
  z-index: -2;
}

/*girl profile with bag*/
.hero3 {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: -2;
}

/*lying down with bag*/
.hero4 {
  position: absolute;
  right: 20vw;
  z-index: -2;
}

/*water*/
.hero5 {
  position: absolute;
  top: 80%;
  right: 10vw;
  z-index: -2;
}

.hero_img {
  max-width: 300px;
}

.hero_text {
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 15vw;
}

.hero_text h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 20vw;
}

p {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
}

.home_values {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 4vw;
  margin-top: 10vw;
  margin-right: 10vw;
  margin-left: 10vw;
}

h3 {
  font-family: "Roboto";
  margin-top: 4vw;
  margin-bottom: 2vw;
}

.home_values img {
  max-width: 100px;
  max-height: 80px;
}

button {
  background-color: #7bafd4;
  border: lightblue;
  border-radius: 2px;
  width: 170px;
  height: 55px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button_play {
  background-color: #aed582;
}

.play_wrapper {
  margin-top: 10vw;
  background-color: #eeff0036;
  position: relative;
  z-index: -1;
  height: 80vh;
  width: 100%;
  margin-bottom: 8%;
}

.shoes {
  position: absolute;
  top: 8vw;
  left: 40%;
  z-index: -2;
}

.clothes {
  position: absolute;
  top: 12vw;
  left: 60%;
  z-index: -2;
}

.play_wrapper img {
  max-width: 40%;
  height: auto;
}

.play_text {
  margin-left: 10vw;
  margin-right: 20vw;
  padding-top: 2vw;
  max-width: 45ch;
}

.play_text h2 {
  margin-left: 0;
}

.bestseller_container {
  display: flex;
  flex-direction: row;
  margin: 10vw;
  justify-content: space-between;
  align-items: center;
}

.bestseller_row1 {
  display: flex;
  flex-direction: column;
}

.bestseller_row1 img {
  max-width: 200px;
  max-height: auto;
  margin: 2vw;
}

.bestseller_row2 {
  display: flex;
  flex-direction: column;
  max-width: 40ch;
}

.bestseller_row2 img {
  max-width: 200px;
  max-height: 300px;
  margin: 2vw;
  margin-top: 15vw;
}

.bestseller_text {
  max-width: 30ch;
  margin-left: 0;
  text-align: center;
}

.bestseller_text h2 {
  margin-left: 2vw;
  text-align: center;
}

.bestseller_row3 {
  display: flex;
  flex-direction: column;
}

.bestseller_row3 img {
  max-width: 200px;
  max-height: 300px;
  margin: 2vw;
}

.story_home {
  margin-top: 10vw;
  background-color: #c0def5;
}

.story_home img {
  max-width: 200px;
  max-height: 300px;
}

.arrivals_home img {
  max-width: 200px;
  max-height: 300px;
}

.sale_home img {
  max-width: 200px;
  max-height: 300px;
}

.igfeed {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 2px;
}

.igfeed img {
  max-width: 100px;
  max-height: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 120px;
}
